@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

root {
	--title_font : "Cinzel", serif;
	--sous_tittle_font : "Cinzel Decorative", serif;
	--text_font :  "Merriweather", serif;
	--bg_color : #731C37;
	--title_color : #E7CF47;
	--text_color : #FFFCFC;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
}

button {
	border: none;
}

 /********************************* NAVBAR********************************* */
.myNav {
	background-color: #731C37;
}

.iconLogo {
	color: #FFFCFC;
	font-size: 19px;
	margin-left: 5px;
}

.headerTitle {
	font-size: 20px;
	font-family: "Cinzel", serif;
}

.title {
	color: #E7CF47;
	font-weight: bold;
}

.searchInput {
	width: 500px;
	padding: 10px;
	border-radius: 20px;
	border: none;
}

.headerText {
	color: #FFFCFC;
	font-size: 19px;
	font-family: "Cinzel", serif;
}

/*********************************************** 404 ********************************/

.errorContainer {
	display: block;
	width: 25%;
	margin: 80px auto;
}

.errorText {
	font-size: 45px;
	margin: 30px;
}

.errorBtn {
	background-color: #731C37;
	padding: 15px;
	border-radius:10px;
	transition: all 0.3s ease;
	margin-left: 25px;
}

.errorLink {
	color: #FFFCFC;
}

.errorBtn:hover {
	background-color: #a20c3b;
}

/********************************************** HOME *******************************/
.selectionContainer {
	margin-top: 50px;
	width: 100%;
}

.homeImgContainer {
	position: relative;
}

.homeImgContainer img {
	width: 100%;
	height: 400px;
}

.homeLink {
	position: absolute;
	left: 50%;
	top: 5%;
	font-size: 45px;
	transform: translateX(-50%);
	text-decoration: underline;
	font-family: "Cinzel Decorative", serif;
	font-weight: bold;
}

.aboutContainer {
	width: 50%;
	margin: 100px auto;
}

.aboutInfo {
	width: 50%;
	background-color: #731C37;
	padding: 15px;
}

.aboutTitle {
	text-align: center;
	font-size: 30px;
	font-family: "Cinzel", serif;
}

.aboutText {
	font-size: 20px;
	font-family: "Merriweather", serif;
	color: #FFFCFC;
}

/************************************************ FOOTER ***************************/
footer {
	background-color: #232224;
	padding: 20px;
	/* position: absolute;
	bottom: 0;
	left: 0;
	right: 0; */
}

@media screen and (max-width : 769px){

/********************************* NAVBAR********************************* */
	.headerTitle {
		display: none;
	}

	.searchInput {
		width: 200px;
	}

	.iconLogo {
		display: none;
	}

	.nav-item {
		margin-top: 5px;
		border-bottom: 2px solid #E7CF47;
		width: 100%;
		display: block;
	}

	/*********************************************** 404 ********************************/

	.errorContainer {
		width: 80%;
	}

	/********************************************** HOME *******************************/

	.homeImgContainer img {
		height: 150px;
	}

	.homeLink {
		font-size: 20px;
	}

	.aboutContainer {
		width: 98%;
	}
	
	.aboutInfo {
		width: 100%;
	}
	
	.aboutTitle {
		font-size: 22px;
	}
	
	.aboutText {
		font-size: 16px;
	}
}

